header {   
                 display:flex;
                justify-content: space-between;
                align-items:center;
                padding:10px 20px;
                background-color:#8d7079;}

.logo-img {
            width: 100px;
            height: 120px;
            object-fit: cover;   }


.tagline {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    color: white;}

.nav-below-right ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 100px 0 0 0;
    padding: 0;}

.nav-below-right ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;}

.nav-below-right a.active {
    border-bottom: 2px solid white;
    font-weight: bold;}
    
.content {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Times New Roman', Times, serif;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;}











.left-side .profile-picture {
                            width: 250px;
                            height: 250px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 4px solid #8d7079;}

.left-side .profile-picture img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;}


.middle-text {
    display: flex;
    align-items: center;     
    justify-content: center;   
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 0 20px; }




.right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;}

.right-side .oval-nav {
    display:grid;
    grid-template-columns: repeat(3, 150px); 
    grid-template-rows: repeat(2, 70px);
    gap: 40px;
    justify-content: center;
    align-content: start;}

.right-side .oval-nav a:nth-child(4) { grid-column: 1;}

.right-side .oval-nav a:nth-child(5) {grid-column: 2;}

.right-side .oval-nav a:nth-child(odd) {
            background-color: #b47463;}

.right-side .oval-nav a:nth-child(even) {
            background-color:#8d7079;}

.right-side .oval-nav a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        text-decoration: none;
                        border-radius: 35px;
                        font-weight: bold;
                        font-size: 25px;
                        height: 90px;
                        width: 180px;}

    .right-side {
        flex: 1;
        display: flex;
        align-items: flex-start;}



footer {
    background-color: #8d7079;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;  }








main {
    flex: 1;                      
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f4f1f0;
    padding: 20px 40px;           
    box-sizing: border-box;  }




.aboutme-profile {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;}

.aboutme-profile .profile-picture {
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 4px solid #8d7079;}

.aboutme-profile .profile-picture img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;}

.biography {
max-width: 400px;
line-height: 1.8;
text-align: left;
color: #333;
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   }             











.education-achievement {
    display: flex;
    gap: 15px;
    padding: 15px;
    align-items: flex-start;}


.education-table {
    flex:2;
    display: flex;
    flex-direction: column;
    gap: 25px;}

.education-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #b47463;}

    .education-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
}

.education-card h3 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.education-card .school {
    font-size: 15px;
    font-weight: bold;
    color: #555;}

.education-card .year {
    font-size: 14px;
    color: #777;}

.achievement-table {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);}

.achievement-table h3 
{margin-bottom: 10px;}

.achievement-table ul 
{padding-left: 20px;}

.achievement-table li 
{margin-bottom: 10px;}

.achievement-table a 
{text-decoration: none;
color: #b47463;
font-weight: bold;}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup:target {
    display: flex;
    gap: 15px;
}

.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.education-text {
    display: flex;
    flex-direction: column;
    gap: 1px;
}















.experience-layout {
    display: flex;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    align-items: flex-start;
}

.experience-table {
    width: 100%;
    max-width: 1000px;
    margin: 40px 0 49px; 
    border-collapse: collapse;
    font-size: 15.5px;
}

.experience-table th {
    background-color: #b47463;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
}

.experience-table td {
    border: 1px solid #ddd;
    padding: 8px 10px;
    vertical-align: top;
}

.experience-table ul {
    margin: 4px 0 0;
    padding-left: 16px;
}

.reference-table {
    width: 100%;
    max-width: 1000px;
    margin: 30px 0;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.reference-table th {
    background-color: #8d7079;
    color: white;
    padding: 8px 10px;
    text-align: left;
    font-size: 16.5px;
}

.reference-table td {
    padding: 10px;
    font-size: 14.5px;
    line-height: 1.5;
    border: 1px solid #ddd;
}

.experience-left {
    flex: 2;
}

.experience-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.experience-right img {
    width: 100%;
    max-width: 320px;
    border-radius: 12px;
    object-fit: cover;
}


















.skills-template {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 60px auto 0 auto;
    align-items: flex-start;}

.skills-left {
    flex: 1;}

.skills-left video {
    width: 100%;
    border-radius: 12px;}

.skills-images {
    display: flex;
    gap: 15px;
    margin-top: 10px;}

.skills-images img {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;}

.skills-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 26px;}

.skill-box {
    background-color:  #fff;
    border-left: 6px solid  #b47463;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);}

.skill-box h3 {
    margin: 0 0 5px 0;
    font-size: 18px;}

.skill-box p {
    margin: 0;
    font-size: 15px;}















.interest-title {
    display: flex;
    justify-content:space-between;
    margin: 20px auto 10px auto;
    max-width: 1000px;
    padding: 0 10px;
    align-items: center;
}

.interest-title h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
}

.interest-template {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;}

.hobby-left, .interest-right 
{flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;}

.hobby-card, .interest-card 
    {background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #b47463;}

.hobby-card h3, .interest-card h3 
    { margin: 0 0 5px 0;
    font-size: 18px;}

.hobby-card p, .interest-card p 
    {margin: 0;
    font-size: 15px;}

.hobby-images 
{   display: flex;          
   gap: 20px;
   justify-content: center;
   margin: 40px auto 0 auto;
   max-width: 1000px; }

.hobby-images img 
{   width: 250px;           
    height: 150px;
    object-fit: cover;      
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);}

















    




.student-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.student-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.student-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.student-card h2 {
    margin-bottom: 20px;
    color: #333;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.student-table th {
    text-align: left;
    padding: 10px;
    background-color: #b47463;
    color: white;
    width: 35%;
}

.student-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.student-table a {
    color: #b47463;
    font-weight: bold;
    text-decoration: none;
}

.back-btn {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #8d7079;
    padding: 10px 20px;
    border-radius: 20px;
}